<%= form_with model: list do |form| %>
  <% if list.errors.any? %>
    <div class="alert-error mb-6">
      <h3><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h3>
      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date, "Shopping date", class: "label" %>
    <%= form.date_field :date, class: "input" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
