<% content_for :title, "Current List for #{@list.date}" %>

<h1>Shopping list for <%= @list.date.strftime('%A %d %B') %></h1>

<div id="list-meals">
  <h2>Meals</h2>
  <%= form_with( url: list_meals_path(@list), method: :patch, local: true ) do |form| %>
    <% 7.times do |n| %>
      <% date = @list.date + n.days %>
      <% meal = @list.meal_for_date(date) %>
      <div>
        <%= form.label date.strftime('%A'), style: "display: block" %>
        <%= form.text_field "meals[#{date}]", value: meal&.name %>
      </div>
    <% end %>
    <%= form.hidden_field "group_id", value: @list.group_id %>
    <div>
      <%= form.submit "Update Meals" %>
    </div>
  <% end %>
</div>


<div id="list-items">
  <h2>Items</h2>
  <%= form_with model: [@list, @item] do |form| %>
    <div>
      <%= form.label "Item name", style: "display: block" %>
      <%= form.text_field "name" %>
      <%= form.label "Quantity", style: "display: block" %>
      <%= form.number_field "quantity", min: 1, value: 1 %>
      <%= form.hidden_field "group_id", value: @list.group_id %>
    </div>
    <div>
      <%= form.submit "Add item" %>
    </div>
  <% end %>
</div>

<% if @list.items.any? %>
  <% @list.list_items.each do |list_item| %>
    <%= list_item.item.name %> - <%= list_item.quantity %>
  <% end %>
<% end %>

<%= link_to "New list", new_list_path %>
