<div class="max-w-md">
  <h1>Edit Group</h1>

  <%= form_with model: @group do |form| %>
    <% if @group.errors.any? %>
      <div class="alert-error mb-6">
        <h3><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h3>
        <ul>
          <% @group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, "Group name", class: "label" %>
      <%= form.text_field :name, required: true, class: "input" %>
    </div>

    <div class="mb-6">
      <%= form.submit "Update Group", class: "btn btn-primary w-full" %>
    </div>
  <% end %>

  <%= link_to "Back to groups", groups_path %>
</div>
