<h1>Edit Group</h1>

<%= form_with model: @group do |form| %>
  <% if @group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% @group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Group name" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.submit "Update Group" %>
  </div>
<% end %>

<%= link_to "Back to groups", groups_path %>
