<h1>Manage Groups</h1>

<div style="margin-bottom: 1.5rem;">
  <%= link_to 'Create New Group', new_group_path, class: 'button' %>
</div>

<h2>Your Groups</h2>
<% if @groups.any? %>
  <div class="groups-cards">
    <% @groups.each do |group| %>
      <% is_selected = group == Current.session&.selected_group %>
      <div class="group-card <%= 'group-card-selected' if is_selected %>">
        <form action="<%= switch_group_path %>" method="post" style="display: contents;">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag :_method, 'patch' %>
          <%= hidden_field_tag :group_id, group.id %>

          <div class="group-radio">
            <h3><%= group.name %></h3>
            <% if is_selected %>
              <span class="selected-badge">Current Group</span>
            <% end %>
          </div>
          <div class="group-actions">
            <%= link_to 'Edit', edit_group_path(group) %>
            <%= link_to 'Invite to group', invite_group_path(group) %>
            <% user_group = Current.user.user_groups.find_by(group: group) %>
            <% unless is_selected %>
              <%= submit_tag 'Switch to this group', class: 'button' %>
            <% end %>
            <% unless user_group&.is_default %>
              <%= link_to 'Leave', leave_group_path(group), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to leave #{group.name}?" }, class: 'button button-danger' %>
            <% end %>
          </div>
        </form>
      </div>
    <% end %>
  </div>
<% else %>
  <p>You are not a member of any groups yet.</p>
<% end %>
