<h1>Invite to <%= @group.name %></h1>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: invite_group_path(@group), method: :post do |form| %>
  <div>
    <%= form.label :email, "Email address" %>
    <%= form.email_field :email, required: true, placeholder: "user@example.com" %>
  </div>

  <div>
    <%= form.submit "Send Invitation" %>
  </div>
<% end %>

<%= link_to "Back to groups", groups_path %>
