<%= form_with model: item do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
